{% extends 'base_template.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Order Summary</h4>
                
                <hr>
                
                <h5>Order Items:</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Size</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items_info %}
                            <tr>
                                <td>{{ item.product_name }}</td>
                                <td>{{ item.product_size }}</td>
                                <td>{{ item.instance_qty }}</td>
                                <td>₹ {{ item.instance_total_price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- end table responsive -->

                <br>

                <p>Total price: <b>₹ {{ base_amount }}</b></p>
                <p>Taxes and merchant charges: <b>₹ {{ additional_charges }}</b></p>
                <p>Total payable amount: <b>₹ {{ payable_amount }}</b></p>

            </div><!-- end alert div -->
        </div><!-- end payment info col -->

        <div class="col">
            
            <h4>Enter your details:</h4>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Proceed" class="btn btn-success">

            </form>

        </div><!-- end payment form col -->

    </div><!-- end top row -->
</div><!-- end top conatiner -->

{% endblock %}