<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a href="/" class="navbar-brand">Uniform  है</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="" class="nav-link">Uniforms</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Schools</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a href="" class="btn btn-warning">My Cart</a>
            </li>
        </ul>
    </div>
</nav>